/* Fonts */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-webfont.woff') format('woff'),
        url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
        url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
       -webkit-text-size-adjust: none;
}
.video embed, .video object, .video iframe {
       width: 100%;
       height: auto;
}
img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
.menu {
}

/* Mobile Menu */
.minimenu {
    display: none;
}
.minimenu {
    position: relative;
    z-index: 30;
    margin: 0px 10px 20px 10px;
    padding-top: 5px;
}
.minimenu div {
    font-family: 'BebasNeueRegular';
    font-size: 24px;
    padding: 0px 16px;
    overflow: hidden;
    position: relative;
    color: #1C140D;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.minimenu select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor: pointer;
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    header, #content, footer, nav, #footernav, #slider {
        width: 100%;
    }
    #sidebar {
        width: 95%;
    }
    #main-content {
        width: 95%;
    }
    #single-content {
        width: 95%;
    }
        
    #slider {
        height: 95%;
        width: 95%;
    }
    
}
/* Landscape */
@media only screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .minimenu {
        display: block;
    }
    header, #content, footer, nav, #main-content, #single-content, #sidebar, #footernav {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .header-wrapper {
        width: 100%;
    }
    header {
        margin-top: 0px;
        height: 150px;
    }
    header #logo {
        top: 30%;
    }
    header #search {
        top: 5px;
        left: 5px;
    }
    
    #content{
        margin-left: 10px;
    }
    
    #slider {
        height: 85%;
        width: 85%;
    }
    
    

}
/* Mobile */
@media only screen and (max-width: 479px) {
    .menu {
        display: none;
    }
    .minimenu {
        display: block;
    }
    header {
        height: 170px;
    }
    header #logo {
        top: 30%;
        left: 15%;
    }
    #content img {
        width: 50%;
    }
    nav {
        height:100%;
    }
    #footernav{
        height:100%;
    }
    #content {
        margin-right: 15px;
    }

}
